body{
    background-image: url(/img/about2.webp);
    background-size: cover;
}

.main-about{
    display: flex;
    justify-content: center;
}   


.nose{
    height: 100vh;
}

.nose p{
position: relative;
text-align: center;
font-size: 1.3rem;
padding-top: 20px;
top: 12em;
background-color: rgba(2, 4, 1, 0.165);
border-radius: 30px;
backdrop-filter: blur(2px);
color: #FF6464;
padding: 15px;
}



@media screen and (min-width:1200px) {
    body{
        background-image: url(/img/about.webp);
        background-size: cover;
    }

    .nose{
        width: 100%;
    }
       .nose p{
        width: 50%;
        top: 13em;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: start;
        backdrop-filter: blur(3px); 
        } 

}

@media screen and (min-width:1400px){ 
    body{
        background-image: url(/img/about.webp);
        background-size: cover;
       }
       
       .nose{
        height: 93.8vh;
       }

       .nose p{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: start;
        backdrop-filter: blur(3px); 
        }
}



