body{
    background-image: url(/img/about2.webp);
    background-size: cover;
}

.main-about{
    display: flex;
    justify-content: center;
}   

.nose p{
position: relative;
text-align: center;
font-size: 1.2rem;
padding-top: 20px;
top: 20em;
background-color: rgba(2, 4, 1, 0.25);
border-radius: 30px;
backdrop-filter: blur(2px);
color: #FF6464;
padding: 15px;
}



@media screen and (min-width:1200px) {
    body{
        background-image: url(/img/about.webp);
        background-size: cover;
    }
    .main-about{
        position: absolute;
        left: 18em;
        bottom: 48em;
        justify-content: start;
       }
       
       .nose p{
        font-size: 1.3rem;
        font-weight: bold;
        text-align: start;
        }

}

@media screen and (min-width:1400px){ 
    body{
        background-image: url(/img/about.webp);
        background-size: cover;
       }
       
       .main-about{
        position: absolute;
        left: 1em;
        right: 55em;
        top: -2em;
        justify-content: start;
       }

       .nose p{
        
        font-size: 1.3rem;
        font-weight: bold;
        text-align: start;
        }
}



